{% extends 'base.html' %}
{% block content %}

<form method="POST" action="/add">
    <input name="name" placeholder="Material Name" required>
    <input name="force" placeholder="Force">
    <input name="stress" placeholder="Stress">
    <input name="strain" placeholder="Strain">
    <input name="elasticity" placeholder="Elasticity">
    <button>Add Material</button>
    <a href="/download" class="btn btn-primary">Download Data as Excel</a>

</form>

<table>
    <tr>
        <th>Name</th>
        <th>Force</th>
        <th>Stress</th>
        <th>Strain</th>
        <th>Elasticity</th>
    </tr>
    {% for m in materials %}
    <tr>
        <td>{{ m.name }}</td>
        <td>{{ m.force }}</td>
        <td>{{ m.stress }}</td>
        <td>{{ m.strain }}</td>
        <td>{{ m.elasticity }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
<input
  type="text"
  id="searchInput"
  placeholder="Search material..."
  onkeyup="searchMaterial()">
